// default components
input {
   font-family: 'Montserrat', sans-serif;
}

// containers
.container {
   align-items: center;
}

.container-column {
   display: flex;
   flex-direction: column;
}

.container-flex {
   display: flex;
}

.container-stacker {
   display: flex;
   flex-direction: column;
   height: 100%;

   @media screen and (max-width: 1024px) {
      margin: 20px 0px;
   }
}

.container-boxes {
   display: flex;
   justify-content: space-evenly;

   @media screen and (max-width: 1024px) {
      margin: 0 20px;
      justify-content: center;
      flex-direction: column;
   }
}

.container-content {
   display: flex;
   padding: 10px;
   align-items: center;
   background-color: #e4dede;

   &:not(:last-child) {
      margin: 10px 0;
   }
   
   &:last-child {
      margin: 10px 0 0 0;
   }
}

// components
.boxes {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 375px;
   font-weight: bold;

   @media screen and (max-width: 1300px) {
      width: 300px;
   }

   @media screen and (max-width: 1024px) {
      width: auto;
      margin: 20px;
   }
}

.button-reset {
   text-align: center;
}

// margins & paddings
.mt-1 {
   margin-top: 10px;
}

.mt-2 {
   margin-top: 20px;
}

.mt-3 {
   margin-top: 50px;
}

.mb-1 {
   margin-bottom: 10px;
}

.mb-2 {
   margin-bottom: 20px;
}

.mb-3 {
   margin-bottom: 50px;
}

.mr-1 {
   margin-right: 10px;
}

.mv {
   margin: 10px 0;
}

.mh {
   margin: 0 10px;
}

.p-1 {
   padding: 5px;
}

.p-2 {
   padding: 10px;
}

.p-3 {
   padding: 15px;
}

.pb {
   padding-bottom: 20px;
}

// misc
.progress-bar {
   background: #C0C0C0;
   height: 10px;
}

.scroll {
   overflow: auto;

   &::-webkit-scrollbar {
      width: 10px;
      background-color: #FFFFFF;
   }
   &::-webkit-scrollbar-thumb {
      width: 10px;
      background-color: #C0C0C0;
   }
}

.filler {
   background: #4b2828;
   height: 100%;

   transition: width 3s ease-in;
   -moz-transition: width 3s ease-in;
   -webkit-transition: width 3s ease-in;
   -o-transition: width 3s ease-in;
   -ms-transition: width 3s ease-in;
}

.text-center {
   font-size: 36px;
   font-weight: bold;
   text-align: center;
}

.flex-one {
   flex: 1;
}

.border {
   border: 1px solid black;
}

.radius {
   border-radius: 10px;
}

.bg-white {
   background-color: #FFFFFF;
}

.pointer {
   cursor: pointer;
}